body {
    background-color: rgb(40, 30, 51);
}

.copy {
    width: 30px;
    height: 40px;
    position: absolute;
    right: 10%;
    top: 30%;
    border-radius: 4px;
    background-color: rgb(36, 154, 201);
    box-shadow: rgb(40, 30, 51) 8px 8px 0;
    z-index: 5;
    cursor: pointer;
}

.copyText {
    width: 50px;
    height: 40px;
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0%;
    top: 0%;
    border-radius: 4px;
    background-color: rgb(36, 154, 201);
    z-index: 5;
    padding: 5px;
    color: #fff;
    font-weight: bolder;
}

.myForm {
    width: 90vw;
    height: 90vh;
    display: grid;
    place-items: center;
    margin: auto;
    grid-template-columns: minmax(320px, 90vw);
    grid-template-rows: minmax(120px, 90vh);
}

.genPass {
    width: 80vw;
    min-height: 40vh;
    display: grid;
    grid-template-columns: minmax(60%, auto) minmax(120px, auto);
    grid-template-rows: minmax(120px, auto);
    align-items: center;
}

.genPass__text {
    position: relative;
    margin: 15px;
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.genPass__text ::placeholder {
    opacity: 0.8;
    color: rgb(26, 120, 26);
}

.genPass__button {
    margin: 15px;
    min-width: 180px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#genPass {
    transition: all 0.6s;
    position: relative;
    padding: 10px 30px;
    height: 50%;
    width: 80%;
    font-size: 32px;
    border: 8px solid purple;
    border-radius: 16px;
}

#genButton {
    height: 70%;
    width: 100%;
    font-size: 28px;
    text-align: center;
    text-transform: uppercase;
    background: rgb(214, 21, 212);
    background: linear-gradient(90deg, rgba(214, 21, 212, 1) 0%, rgba(111, 27, 93, 1) 48%, rgba(111, 27, 55, 1) 100%, rgba(232, 0, 255, 1) 100%);
    border: 3px purple solid;
    border-radius: 8px;
    cursor: pointer;
    color: rgb(0, 180, 240);
}

#genButton:hover {
    color: rgb(4, 125, 133);
    background: linear-gradient(90deg, rgb(137, 4, 135) 0%, rgb(88, 1, 69) 48%, rgba(111, 27, 55, 1) 100%, rgb(89, 23, 95) 100%);

}

.genOptions {
    width: 80vw;
    min-height: 40vh;
    display: grid;
    grid-template-columns: minmax(75%, auto) minmax(25%, auto);
    grid-template-rows: minmax(120px, auto);
    align-items: center;
}

.genLength {
    width: 60%;
    height: 120px;
    display: grid;
    grid-template-columns: minmax(30%, auto) minmax(60%, auto);
    margin: auto;

}

.genLength input {
    padding: 15px;
    height: 40px;
    width: 60px;
    margin: 15px;
    font-size: 32px;
    border: 8px solid rgba(128, 0, 128, 0.397);
    border-radius: 8px;
}

.genType input:hover,
.genType label:hover {
    transform: scale(1.2);
    transition: all 0.2s;
    color: #1cb4c0;
}

.genType {
    display: grid;
    grid-template-columns: auto;
    grid-auto-rows: 60px;
    align-items: left;
    color: rgb(18, 131, 169);
    margin-left: 10%;
    font-size: 32px;
    font-weight: bolder;
}

.genType>* {
    margin-top: 15px;
}

.genType label {
    cursor: pointer;
}

.chek1,
.chek2,
.chek3,
.chek4 {
    position: relative;
    cursor: pointer;
}

.genType input {
    appearance: none;
    width: 40px;
    height: 40px;
    display: block;
    position: absolute;
    left: -60px;
    top: -15%;
    border: 4px solid rgb(86, 22, 83);
    cursor: pointer;
    border-radius: 50%;
}

.genType input:checked {
    background-color: rgb(36, 154, 201);
}

input[type=range] {
    width: 80%;
    margin: 15.8px 0;
    background-color: transparent;
    -webkit-appearance: none;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    background: rgba(28, 180, 192, 0.2);
    border: 0.2px solid rgba(13, 14, 49, 0.9);
    border-radius: 1.3px;
    width: 100%;
    height: 8.4px;
    cursor: pointer;
}

input[type=range]::-webkit-slider-thumb:hover {
    background: #2b98a0
}

input[type=range]::-webkit-slider-thumb {
    margin-top: -16px;
    width: 40px;
    height: 40px;
    background: rgb(6, 94, 142);
    border: 1px solid #000000;
    border-radius: 50px;
    cursor: pointer;
    -webkit-appearance: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #1cb4c0;
}

input[type=range]::-moz-range-track {
    background: rgba(28, 180, 192, 0.2);
    border: 0.2px solid rgba(13, 14, 49, 0.9);
    border-radius: 1.3px;
    width: 100%;
    height: 8.4px;
    cursor: pointer;
}

input[type=range]::-moz-range-thumb {
    width: 40px;
    height: 40px;
    background: #f69c41;
    border: 1px solid #000000;
    border-radius: 50px;
    cursor: pointer;
}

input[type=range]::-ms-track {
    background: transparent;
    border-color: transparent;
    border-width: 17.3px 0;
    color: transparent;
    width: 100%;
    height: 8.4px;
    cursor: pointer;
}

input[type=range]::-ms-fill-lower {
    background: #1cb4c0;
    border: 0.2px solid rgba(13, 14, 49, 0.9);
    border-radius: 2.6px;
}

input[type=range]::-ms-fill-upper {
    background: rgba(28, 180, 192, 0.2);
    border: 0.2px solid rgba(13, 14, 49, 0.9);
    border-radius: 2.6px;
}

input[type=range]::-ms-thumb {
    width: 40px;
    height: 40px;
    background: #f69c41;
    border: 1px solid #000000;
    border-radius: 50px;
    cursor: pointer;
    margin-top: 0px;
}

input[type=range]:focus::-ms-fill-lower {
    background: rgba(28, 180, 192, 0.2);
}

input[type=range]:focus::-ms-fill-upper {
    background: #1cb4c0;
}


@media (max-width: 768px) {
    .copyText {
        top: -10%;
        right: -10%;
    }

    .myForm {
        grid-template-columns: minmax(95%, auto);
        grid-template-rows: minmax(320px, auto);
        grid-auto-rows: minmax(320px, auto);
        margin: 5px;
        place-items: center;
    }

    .genPass {
        grid-template-columns: minmax(100%, auto);
        grid-template-rows: auto;
        grid-auto-rows: auto;
        place-items: center;
    }

    .genOptions {
        display: flex;
        flex-direction: column-reverse;
        padding-top: 80px;
        margin-top: 80px;
    }

    .genLength {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 240px;
    }

    .genType {
        display: flex;
        flex-direction: column;
        margin: 20px 0;
    }

    #genPass {
        font-size: 32px;
    }
}

@media (min-width: 769px) {
    .genPass {
        grid-template-columns: minmax(60%, auto) minmax(30%, auto);
        place-items: center center;
        grid-gap: 60px;
    }

    .genPass__button {
        min-width: 230px;
    }

    .genLength {
        grid-gap: 60px;
        place-items: center start;
        width: 80%;
    }

    .genOptions {
        grid-template-columns: minmax(60%, auto) minmax(20%, auto);
    }

    .genType {
        margin-left: 120px;
    }

    #genPass::placeholder {
        font-size: 22px;
    }
}

@media (max-width: 576px) {
    #genPass::placeholder {
        font-size: 14px;
    }

    .copyText {
        top: -10%;
        right: -10%;
    }
}